.Rproj.user
.Rhistory
.RData
.Ruserdata

README_cache
vignettes/example_models_cache
vignettes/get_started_cache
vignettes/technical_details_cache
vignettes/*_cache

vignettes/figures

*.pdf
docs/*.Rmd
docs/examples
docs/*_cache
cran-comments.md
