pre{
  background-color: transparent;
  border: 1px solid #f4f0f9;
  border-radius: 0;
  color: #696969;
}
pre.r{
  background-color: #f4f0f9;
  border: none;
  border-radius: 0;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: #8960b3;
    border-color: #8960b3;
}
hr {
  height:10px;
  border-top:4px solid #a379cc4;
}
code {
  background-color: #f4f0f9;
}
