pre{
  background-color: transparent;
  border: 1px solid #f5eef6;
  border-radius: 0;
  color: #8b4b9b;
}
pre.r{
  background-color: #f5eef6;
    border: none;
  border-radius: 0;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: #ba87c5;
    border-color: #ba87c5;
}
hr {
  height:10px;
  border-top:4px solid #a464b4;
}
code {
  background-color: #f5eef6;
}
