body{
  font-size: 16px;
}
pre{
  background-color: transparent;
  border: 1px solid #f4f0f9;
  border-radius: 0;
  color: #696969;
}
.r{
  background-color: #f4f0f9;
  border: none;
  border-radius: 0;
  line-height: 1.5;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: #A379CC;
  border-color: #A379CC7;
}
hr {
  height:8px;
  border-width: 2px;
}
code {
  background-color: #f4f0f9;
}
.navbar,
.navbar-default,
.navbar-right {
  border-color: #A379CC;
  background-color: #A379CC;
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  min-height: 40px;
  padding-top: 0;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  background-color: #A379CC;
}
.navbar-default .navbar-nav>li>a {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #F4F0F9;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #ffffff;
}
.logo {
    display: inline-block;
    width: 144px;
    height: 40px;
    background-image: url(banner_icon.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #A379CC;
}
.dropdown-menu>li>a {
    color: #555555;
    white-space: nowrap;
}
